AUTHELIA_JWT_SECRET={{ authelia_jwt_secret | generate([A-Za-z0-9],64) }}
AUTHELIA_SESSION_SECRET={{ authelia_session_secret | generate([A-Za-z0-9],64) }}
AUTHELIA_STORAGE_ENCRYPTION_KEY={{ authelia_storage_encryption_key | generate([A-Za-z0-9],64) }}

AUTHELIA_SESSION_DOMAIN={{ domain }}

LLDAP_JWT_SECRET={{ lldap_jwt_secret | generate([A-Za-z0-9],32) }}
LLDAP_ADMIN_PASSWORD={{ lldap_admin_password | generate([A-Za-z0-9],16) }}
LLDAP_BASE_DN=dc=home,dc=lab
