GRAFANA_ADMIN_PASSWORD=changeme
INFLUXDB_ADMIN_PASSWORD=changeme
INFLUXDB_ADMIN_TOKEN=changeme
PVE_USER=monitoring@pve
PVE_PASSWORD=changeme
PVE_VERIFY_SSL=false
TELEGRAM_BOT_TOKEN=changeme
TELEGRAM_CHAT_ID=changeme
