PORT=3002

PAPERLESS_BASE_URL=http://{{ paperless_host }}:{{ paperless_port | default(8000) }}
PAPERLESS_API_TOKEN={{ paperless_api_token }}

OCR_PROVIDER=llm
LLM_PROVIDER=openai
LLM_MODEL=unsloth/Qwen3.5-9B-MTP-GGUF:Q8_0

VISION_LLM_PROVIDER=openai
VISION_LLM_MODEL=unsloth/Qwen3.5-9B-MTP-GGUF:Q8_0

OPENAI_BASE_URL=http://{{ llm_host }}:{{ llm_port | default(8080) }}/v1
OLLAMA_HOST=http://{{ llm_host }}:{{ llm_port | default(8080) }}/v1
OPENAI_API_KEY=1234
TOKEN_LIMIT=32000
