PORT=3002

PAPERLESS_BASE_URL=http://192.168.x.y:8000
PAPERLESS_API_TOKEN=changeme

OCR_PROVIDER=llm
LLM_PROVIDER=openai
LLM_MODEL=unsloth/Qwen3.5-9B-MTP-GGUF:Q8_0

VISION_LLM_PROVIDER=openai
VISION_LLM_MODEL=unsloth/Qwen3.5-9B-MTP-GGUF:Q8_0

OPENAI_BASE_URL=http://192.168.x.z:8080/v1
OLLAMA_HOST=http://192.168.x.z:8080/v1
OPENAI_API_KEY=1234
TOKEN_LIMIT=32000
