CONFIG_DIR=./config
STORAGE_DIR=/mnt/nvr
FRIGATE_RTSP_PASSWORD=changeme
SHM_SIZE=512mb
HTTP_PORT=8971
RTSP_PORT=8554
WEBRTC_PORT=8555
FRIGATE_CAMERA1_IP=192.168.x.x
FRIGATE_CAMERA1_USER=dummy
FRIGATE_CAMERA1_PSWD=dummy
FRIGATE_CAMERA1_MAIN=stream1
FRIGATE_CAMERA1_SUB=stream2
