VAULTWARDEN_DOMAIN=https://vault.{{ domain }}
VAULTWARDEN_ADMIN_TOKEN={{ vaultwarden_admin_token | generate([A-Za-z0-9],64) }}

# Mobile push notifications — get from bitwarden.com/host
PUSH_INSTALLATION_ID={{ push_installation_id }}
PUSH_INSTALLATION_KEY={{ push_installation_key }}
