PORT=8075

# Paperless
PAPERLESS_URL=https://{{ paperless_hostname }}
PAPERLESS_SECRET_KEY={{ paperless_secret_key | generate([A-Za-z0-9],64) }}
PAPERLESS_TIME_ZONE=Europe/London
PAPERLESS_OCR_LANGUAGE=eng

# Admin account (only used on first run)
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD={{ paperless_admin_password | generate([A-Za-z0-9],16) }}
PAPERLESS_ADMIN_MAIL={{ paperless_admin_mail }}
PAPERLESS_API_TOKEN=