PORT=8075

# Paperless
PAPERLESS_URL=https://paperless.domain.com
PAPERLESS_SECRET_KEY=changeme
PAPERLESS_TIME_ZONE=Europe/London
PAPERLESS_OCR_LANGUAGE=eng

# Admin account (only used on first run)
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=changeme
PAPERLESS_ADMIN_MAIL=changeme@example.com
PAPERLESS_API_TOKEN=