HOST=0.0.0.0
PORT=8899
APP_PASSWORD={{ app_password | generate([A-Za-z0-9],16) }}
STORAGE_SECRET={{ storage_secret | generate(hex64) }}
LOG_LEVEL=INFO
WIREGUARD_PRIVATE_KEY={{ wireguard_private_key }}
WIREGUARD_ADDRESSES={{ wireguard_addresses }}
# DATA_DIR=./data
# DOWNLOAD_DIR=./downloads
# PLUGINS_DIR=./plugins
