PORT=8899
APP_PASSWORD=changeme
STORAGE_SECRET=changeme
LOG_LEVEL=INFO
WIREGUARD_PRIVATE_KEY=changeme
WIREGUARD_ADDRESSES=changeme
# DOWNLOAD_DIR=./downloads
# PLUGINS_DIR=./plugins_data
# DB_PATH=./scrap_downloader.db
