HOST=0.0.0.0
PORT=8899
APP_PASSWORD=changeme
STORAGE_SECRET=changeme
LOG_LEVEL=INFO
WIREGUARD_PRIVATE_KEY=changeme
WIREGUARD_ADDRESSES=changeme
# DATA_DIR=./data
# DOWNLOAD_DIR=./downloads
# PLUGINS_DIR=./plugins
